@import url(http://fonts.googleapis.com/css?family=Libre+Baskerville);

@font-face {
    font-family: Bebas;
    src: url("/Css/font/bebas_neue/BebasNeue.otf") format("opentype");
}

a {
  text-decoration: underline;
  font-weight: normal;
}


body {
    font-family: 'Libre Baskerville', serif;
    font-size: 10px;
    line-height: 1.846;
    color: #1d1d1d;
    background-color: #ffffff;
}

.page-header {
  padding-bottom: 10.5px;
  margin: 46px 0 23px;
  border-bottom: 0px;
}

.logo {
    padding-left: 0px;
}

.alert {
    padding: 15px;
    padding-left: 0px;
    margin-bottom: 30px;
    border: 1px solid transparent;
    border-radius: 0px;
    color: #fff;
}
.alert-success {
  background-color: #4caf50;
}
.alert-info {
  background-color: #9c27b0;
}
.alert-warning {
  background-color: #ff9800;
}
.alert-danger {
  background-color: #e51c23;
}
.alert-primary {
  background-color: #2196f3;
}

.alert a:not(.close),
.alert .alert-link {
  color: inherit;
  font-weight: normal;
}
.alert .close {
  color: #fff;
}

.footer {
    margin-bottom: 0px;
    margin-top: -30px;
}

.lead {
    margin-bottom: 15px;
    font-size: 20px;
    font-weight: 400;
    line-height: 1.4;
}

.panel-title {
  margin-top: 0;
  margin-bottom: 0;
  font-size: 25px;
  color: inherit;
}

.panel-body a {
  text-decoration: underline;
  font-weight: bold;
  color: inherit;
}

h1,
.h1 {
    font-size: 56px;
    font-family: 'Bebas', sans-serif;
}

h2,
.h2 {
    font-size: 45px;
    font-family: 'Bebas', sans-serif;
      margin-top: 10px;
  margin-bottom: 4.5px;
}

h3,
.h3 {
    font-size: 34px;
    font-family: 'Bebas', sans-serif;
}

h4,
.h4 {
    font-size: 24px;
    font-family: 'Bebas', sans-serif;
}

h5,
.h5 {
    font-size: 20px;
    font-family: 'Bebas', sans-serif;
}

h6,
.h6 {
    font-size: 14px;
    font-family: 'Bebas', sans-serif;
}

.white {
    color: #ffffff;
}

.black-background {
    background-color: #000;
}
.centre {
    text-align:center;
}

.vtop {   
    vertical-align: top;  margin-top: 0px;
}

.vtop h2 {   
    vertical-align: top;  margin-top: 0px;
}

.text-section {
  margin-bottom: 15px;
  font-size: 17px;
  font-weight: 400;
  line-height: 1.9;
  font-size: 14px;
  padding-left: 10px;
  padding-right: 40px;
}

.panel {
  border: none;
  border-radius: 0px;
  -webkit-box-shadow: none;
  box-shadow: none;
}

.panel-heading {
    padding: 10px 15px;
    border-bottom: 1px solid transparent;
    border-top-right-radius: 0px;
    border-top-left-radius: 0px;
} 

.panel-title {
    margin-top: 0;
    margin-bottom: 0;
    font-size: 30px;
    color: inherit;
}

.panel-title > a,
.panel-title > small,
.panel-title > .small,
.panel-title > small > a,
.panel-title > .small > a {
    color: inherit;
    text-decoration: underline;
}

.panel-body {
    border-bottom: 1px solid #dedede;
    border-bottom-width: 1px;
    border-bottom-style: solid;
    border-bottom-color: rgb(222, 222, 222);
    border-right: 1px solid #dedede;
    border-right-width: 1px;
    border-right-style: solid;
    border-right-color: rgb(222, 222, 222);
    border-left: 1px solid #dedede;
    border-left-width: 1px;
    border-left-style: solid;
    border-left-color: rgb(222, 222, 222);
}

