@inherits Umbraco.Web.Mvc.UmbracoTemplatePage
@{
    Layout = null;
    var home = @CurrentPage.Site();
}
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Wolframart Ltd - .Net and Umbraco Development Resource</title>
    <meta name="description" content="Wolframart Ltd is a London based development resource company founded and operated by Bill Bixby, an expereinced and friendly .Net Umbraco developer who can assist your business meet its dev resourcing needs" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link href="/Css/bootstrap.min.css" rel="stylesheet" />
    <link href="/Css/wolframart.css" rel="stylesheet" />
    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="../bower_components/html5shiv/dist/html5shiv.js"></script>
      <script src="../bower_components/respond/dest/respond.min.js"></script>
    <![endif]-->
</head>
<body>

    <div class="container">

        <div class="row page-header">
            <div class="col-md-1"></div>
            <div class="col-xs-11 logo">
                <a href="/">
                    <img class="img-responsive" src="/img/logo500x90.png" /></a>
            </div>

        </div>

        @RenderBody()
      
        <footer>
            <div class="row">
                <div class="col-md-1">
                </div>
                <div class="alert alert-dismissible  black-background col-md-5 footer ">
                    <h4 class="white centre"><a href=mailto:bill@wolframart.co.uk>bill@wolframart.co.uk</a></h4>

                    <h5 class="white centre"><a href="https://uk.linkedin.com/pub/bill-bixby/6/798/990">linkedin</a></h5>
                    <h5 class="white centre">07952 391856</h5>
                </div>
                <div class="alert alert-dismissible  black-background col-md-5 footer ">
                    
                    <h4 class="white centre">&copy; Wolframart @(DateTime.Now.Year)</h4>
                    <h5 class=" white centre">19a Arabin Road, Brockley, SE4 2SD</h5>
                     <h5 class=" white centre">Company: 9341859</h5>
                </div>
                <div class="col-md-1">
                </div>              
            </div>           
        </footer>
    </div>


    <script src="https://code.jquery.com/jquery-1.10.2.min.js"></script>
    <script src="/js/bootstrap.min.js"></script>
    <script type="text/javascript">
        /* <![CDATA[ */
        (function () { try { var s, a, i, j, r, c, l = document.getElementsByTagName("a"), t = document.createElement("textarea"); for (i = 0; l.length - i; i++) { try { a = l[i].getAttribute("href"); if (a && a.indexOf("/cdn-cgi/l/email-protection") > -1 && (a.length > 28)) { s = ''; j = 27 + 1 + a.indexOf("/cdn-cgi/l/email-protection"); if (a.length > j) { r = parseInt(a.substr(j, 2), 16); for (j += 2; a.length > j && a.substr(j, 1) != 'X'; j += 2) { c = parseInt(a.substr(j, 2), 16) ^ r; s += String.fromCharCode(c); } j += 1; s += a.substr(j, a.length - j); } t.innerHTML = s.replace(/</g, "&lt;").replace(/>/g, "&gt;"); l[i].setAttribute("href", "mailto:" + t.value); } } catch (e) { } } } catch (e) { } })();
        /* ]]> */
    </script>
    <script>
        (function (i, s, o, g, r, a, m) {
            i['GoogleAnalyticsObject'] = r; i[r] = i[r] || function () {
                (i[r].q = i[r].q || []).push(arguments)
            }, i[r].l = 1 * new Date(); a = s.createElement(o),
            m = s.getElementsByTagName(o)[0]; a.async = 1; a.src = g; m.parentNode.insertBefore(a, m)
        })(window, document, 'script', '//www.google-analytics.com/analytics.js', 'ga');

        ga('create', 'UA-64502489-1', 'auto');
        ga('send', 'pageview');

    </script>
</body>
</html>
